.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.header {
  width: 100%;
  text-align: center;
  color: white;
}

.content {
  width: 20rem;
  display: flex;
  flex-flow: column;
  align-self: center;
}

.country-block {
  width: 20rem;
  height: 5rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}

.country-block label {
  font-size: 18px;
  color: white;
  float: left;
  margin-right: 1rem;
}

.country-block span {
  overflow: hidden;
  display: block;
}

.country-block input {
  width: 15rem;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  outline: none;
  padding: 12px 3px 12px 15px;
  font-size: 18px;
}

.country-block div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.country-block button {
  text-align: center;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  background-color: #282c34;
  color: #eee;
  padding: 0.5rem 1rem;
  font-size: 18px;
}

.country-block button:hover {
  background-color: #404550;
  border-color: rgb(208, 208, 208);
}

.country-block button:active,
.country-block button:focus {
  background-color: #505765;
}

.covid-statistics {
  display: flex;
  padding: 1rem;
  flex-flow: column;
  align-self: flex-start;
}

.statistic-block {
  color: white;
  padding: 1rem;
}

.statistic-block div:first-child {
  font-size: 20px;
  padding-bottom: 0.25rem;
}

.statistic-block div:last-child {
  font-size: 30px;
  font-weight: bold;
}